body{
    margin: 0;
    font-family: 'Open-Sans',sans-serif;
    color:rgb(4, 41, 109);
    background-color:rgb(192, 230, 255);
}


#main-header{
    color:white;
    background-color: rgb(15, 45, 100);
    padding: 2rem 5%;
    text-align: center;
}

.btn {
    font: inherit; 
    padding: 0.5rem 1.5rem;
    background-color: rgb(15, 45, 100);
    border: 1px solid rgbrgb(15, 45, 100);
    color: white;
    border-radius: 4px;
    cursor:pointer;
}


.btn-alt{
    background-color: transparent;
    border-color: transparent;
    color: rgb(2, 24, 65);
}

.btn:hover{
    background-color: rgb(2, 16, 42);
    border-color:rgb(0, 14, 41);
}

.btn-alt:hover{
    background-color: rgba(95, 183, 255, 0.486);
    border-color: transparent;
}